.product-form {
  text-align: center;
}

.add-product {
  background-color: hsl(120, 92%, 52%);
  font-size: 16px;
  padding: 8px 20px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 8px;
}

.add-product:hover {
  background-color: hsl(120, 92%, 42%);
  transition: all ease 1s;
}